<h1><%= @user.name %></h1>

<% if @user.events.exists? %>
    <h2>is holding:</h2>
    <ul>
    <% @user.events.each do |event| %>
        <li>
            <%= link_to event.name, event_path(event) %>&nbsp;<%= event.date %>
        </li>
    <% end %>
    </ul>
<% else %>
    <h2>is not holding any event at the moment.</h2>
<% end %>
<br>
<% if @user.attended_events.none? %>
    <h2>has not joined any event at the moment.</h2>
<% else %>
    <h2>has joined:</h2>
    <h3>Upcoming:</h3>
    <ul>
    <% @user.attended_events.where("date >= ?", Date.current).each do |event| %>
        <li><%= link_to event.name, event_path(event) %>&nbsp;by <%= link_to event.creator.name, user_path(event.creator) %>&nbsp;<%= event.date %></li>
    <% end %>
    </ul>
    <h3>Previous:</h3>
    <ul>
    <% @user.attended_events.where("date < ?", Date.current).each do |event| %>
        <li><%= link_to event.name, event_path(event) %>&nbsp;by <%= link_to event.creator.name, user_path(event.creator) %>&nbsp;<%= event.date %></li>
    <% end %>
    </ul>
<% end %>
<br>
<%= link_to "Home", root_path %>